@import "./variables.scss";

.footer {
  overflow: visible;
  height: 200px;
  display: flex;
  align-items: center;

  @include small {
    overflow: hidden;
  }

  @include medium {
    overflow: hidden;
  }
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-image: linear-gradient(#C2E3F3, #6AA3C1);
  overflow: visible;
  height: 167px;

  img {
    width: 536px;
    height: 248px;
  }

  @include small {
    height: 70px;

    img {
      width: 228px;
      height: 106px;
    }
  }

  @include medium {
    height: 100px;

    img {
      width: 300px;
      height: 175px;
    }
  }
}

.footer-text {
  font-family: "Monster Clubhouse";
  font-size: 56px;
  font-weight: normal;
  color: $color-primary;
  line-height: 67px;
  margin-left: 90px;
  white-space: nowrap;

  @include small {
    font-size: 15px;
    margin-left: 5px;
  }

  @include medium {
    font-size: 39px;
    margin-left: 30px;
  }
}